*.DS_Store
*.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.log

venv/
.env/
*.env

pip-wheel-metadata/
*.egg
*.whl

tests/
*.md
*.yaml
*.yml

.vscode/
.idea/
*.iml

docker-compose.yml
Dockerfile
.dockerignore

*.tmp
*.swp
.cache/

.gitignore
