[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
openai = "*"
dynaconf = "*"
beanie = "*"
redis = "*"
telegramify-markdown = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.12"
